name: Publish Package to npm

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
permissions: write-all

jobs:
  test:
    name: Test
    runs-on: ${{ matrix.platform }}

    strategy:
      fail-fast: false
      matrix:
        python-version:
          - '3.11'
          - '3.12'
          - '3.13'
          - '3.14'
        platform:
          - ubuntu-latest
          - windows-latest
          - macos-latest
    steps:
      - uses: actions/checkout@v5
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install uv
        uses: astral-sh/setup-uv@v5
      - name: Install maturin
        run: uv pip install maturin --system
      - uses: actions-rust-lang/setup-rust-toolchain@v1
      - name: Install
        uses: dtolnay/rust-toolchain@stable
        with:
          components: clippy, rustfmt
      - uses: actions-rust-lang/setup-rust-toolchain@v1
      - name: Cargo tarpaulin and fmt
        run: |
          cargo install cargo-tarpaulin
          rustup component add rustfmt clippy
      - name: Install dependencies
        run: bun install
      - name: Build
        run: bun run build
      - name: Lint
        run: bun run lint
      - name: Test
        run: bun run test
      - name: Upload to codecov.io
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          fail_ci_if_error: true
        if: github.ref == 'refs/heads/main'

  deploy-landing:
    name: Deploy Landing
    runs-on: ubuntu-latest
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    needs:
      - test
    steps:
      - uses: actions/checkout@v5
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.14'
      - name: Install uv
        uses: astral-sh/setup-uv@v5
      - name: Install maturin
        run: uv pip install maturin --system
      - uses: actions-rust-lang/setup-rust-toolchain@v1
      - name: Install
        uses: dtolnay/rust-toolchain@stable
        with:
          components: clippy, rustfmt
      - run: |
          bun i
          bun run build
      - run: cargo test test_by_testcase
        # 실패하지만 어느정도 맞았는지 알려주므로 무시해야합니다.
        continue-on-error: true
      - name: Build Landing
        run: bun run build:landing
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./apps/landing/out
      - uses: actions/deploy-pages@v4

  # publish
  changepacks:
    name: changepacks
    runs-on: ubuntu-latest
    permissions:
      # create pull request comments
      pull-requests: write

      # Actions > General > Workflow permissions for creating pull request
      # Create brench to create pull request
      contents: write
    needs:
      - test
    steps:
      - uses: actions/checkout@v5
      - uses: changepacks/action@main
        id: changepacks
    outputs:
      changepacks: ${{ steps.changepacks.outputs.changepacks }}
      release_assets_urls: ${{ steps.changepacks.outputs.release_assets_urls }}

  # node
  node-build:
    needs:
      - test
      - changepacks
    if: ${{ contains(needs.changepacks.outputs.changepacks, 'packages/node/package.json') }}
    strategy:
      fail-fast: false
      matrix:
        settings:
          - host: macos-latest
            target: x86_64-apple-darwin
            build: bun run build --target x86_64-apple-darwin
          - host: windows-latest
            build: bun run build --target x86_64-pc-windows-msvc
            target: x86_64-pc-windows-msvc
          - host: ubuntu-latest
            target: x86_64-unknown-linux-gnu
            build: bun run build --target x86_64-unknown-linux-gnu --use-napi-cross
          - host: macos-latest
            target: aarch64-apple-darwin
            build: bun run build --target aarch64-apple-darwin
    name: Node Build - ${{ matrix.settings.target }}
    runs-on: ${{ matrix.settings.host }}
    env:
      DEBUG: napi:*
      MACOSX_DEPLOYMENT_TARGET: '10.13'
      CARGO_INCREMENTAL: '1'
    steps:
      - uses: actions/checkout@v5
      - name: Setup node
        uses: actions/setup-node@v5
        with:
          node-version: 22
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.14'
      - name: Install uv
        uses: astral-sh/setup-uv@v5
      - name: Install maturin
        run: uv pip install maturin --system
      - name: Install
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: stable
          targets: ${{ matrix.settings.target }}
      - uses: mlugg/setup-zig@v2
        if: ${{ contains(matrix.settings.target, 'musl') }}
        with:
          version: 0.14.1
      - name: Install cargo-zigbuild
        uses: taiki-e/install-action@v2
        if: ${{ contains(matrix.settings.target, 'musl') }}
        env:
          GITHUB_TOKEN: ${{ github.token }}
        with:
          tool: cargo-zigbuild
      - name: Setup toolchain
        run: ${{ matrix.settings.setup }}
        if: ${{ matrix.settings.setup }}
        shell: bash
      - name: Install dependencies
        run: bun install
      - name: Build
        run: ${{ matrix.settings.build }}
        shell: bash
        working-directory: packages/node
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: bindings-${{ matrix.settings.target }}
          path: |
            packages/node/braillify.*.node
          if-no-files-found: error
  
  # python
  python-build:
    runs-on: ${{ matrix.runner }}
    if: ${{ contains(needs.changepacks.outputs.changepacks, 'packages/python/pyproject.toml') }}
    needs:
      - test
      - changepacks
    strategy:
      fail-fast: false
      matrix:
        include:
          # Linux manylinux
          - runner: ubuntu-22.04
            target: x86_64
            manylinux: auto
            os: linux
          - runner: ubuntu-22.04
            target: x86
            manylinux: auto
            os: linux
          - runner: ubuntu-22.04
            target: aarch64
            manylinux: auto
            os: linux
          - runner: ubuntu-22.04
            target: armv7
            manylinux: auto
            os: linux
          - runner: ubuntu-22.04
            target: ppc64le
            manylinux: auto
            os: linux

          # Linux musllinux
          - runner: ubuntu-22.04
            target: x86_64
            manylinux: musllinux_1_2
            os: musllinux
          - runner: ubuntu-22.04
            target: x86
            manylinux: musllinux_1_2
            os: musllinux
          - runner: ubuntu-22.04
            target: aarch64
            manylinux: musllinux_1_2
            os: musllinux
          - runner: ubuntu-22.04
            target: armv7
            manylinux: musllinux_1_2
            os: musllinux

          # Windows
          - runner: windows-latest
            target: x64
            os: windows
          - runner: windows-latest
            target: x86
            os: windows

          # macOS
          - runner: macos-13
            target: x86_64
            os: macos
          - runner: macos-14
            target: aarch64
            os: macos
    steps:
      - uses: actions/checkout@v5
      - name: Build wheels
        uses: PyO3/maturin-action@main
        with:
          target: ${{ matrix.target }}
          args: --release --out dist
          working-directory: packages/python
          manylinux: ${{ matrix.manylinux || '' }}
      - name: Upload wheels
        uses: actions/upload-artifact@v4
        with:
          name: wheels-${{ matrix.os }}-${{ matrix.target }}
          path: packages/python/dist


  node-publish:
    name: Node Publish
    runs-on: ubuntu-latest
    permissions:
      contents: write
      id-token: write
    needs:
      - changepacks
      - node-build
    if: ${{ contains(needs.changepacks.outputs.changepacks, 'packages/node/package.json') }}
    steps:
      - uses: actions/checkout@v5
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest
      - name: Install dependencies
        run: bun install
      - name: Build
        run: bun run build
        working-directory: packages/node
      - name: create npm dirs
        run: bunx napi create-npm-dirs
        working-directory: packages/node
      - name: Download all artifacts
        uses: actions/download-artifact@v5
        with:
          path: packages/node/artifacts
      - name: Move artifacts
        run: bun run artifacts
        working-directory: packages/node
      - name: List packages
        run: ls -R ./npm
        working-directory: packages/node
      - name: Publish
        run: |
            bun install -g @napi-rs/cli
            echo "//registry.npmjs.org/:_authToken=$NPM_TOKEN" >> ~/.npmrc
            npm publish --access public
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
        working-directory: packages/node
      - name: Upload Asset
        uses: owjs3901/upload-github-release-asset@main
        with:
          upload_url: ${{ fromJson(needs.changepacks.outputs.release_assets_urls)['packages/node/package.json'] }}
          asset_path: packages/node/npm/*/braillify.*.node


  python-publish:
    name: Python Publish
    runs-on: ubuntu-latest
    if: ${{ contains(needs.changepacks.outputs.changepacks, 'packages/python/pyproject.toml') }}
    needs:
      - changepacks
      - python-build
    permissions:
      # Use to sign the release artifacts
      id-token: write
      # Used to upload release artifacts
      contents: write
      # Used to generate artifact attestation
      attestations: write
    steps:
      - uses: actions/download-artifact@v4
      - name: Generate artifact attestation
        uses: actions/attest-build-provenance@v1
        with:
          subject-path: 'wheels-*/*'
      - name: Publish to PyPI
        uses: PyO3/maturin-action@main
        env:
          MATURIN_PYPI_TOKEN: ${{ secrets.PYPI_API_TOKEN }}
        with:
          command: upload
          args: --non-interactive --skip-existing wheels-*/*
      - name: List wheels
        run: ls -R .
      - name: Upload Asset
        uses: owjs3901/upload-github-release-asset@main
        with:
          upload_url: ${{ fromJson(needs.changepacks.outputs.release_assets_urls)['packages/python/pyproject.toml'] }}
          asset_path: '*/*.whl'

  upload-assets:
    needs: changepacks
    if: ${{ contains(needs.changepacks.outputs.changepacks, 'libs/braillify/Cargo.toml') }}
    permissions:
      contents: write
      id-token: write
    name: Upload Assets for ${{ matrix.platform }}
    runs-on: ${{ matrix.platform }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - platform: ubuntu-22.04
            os: linux
            target: x86_64-unknown-linux-gnu
            binary_name: braillify-linux-x86_64
          - platform: windows-2022
            os: windows
            target: x86_64-pc-windows-msvc
            binary_name: braillify-windows-x86_64.exe
          - platform: macos-14
            os: macos
            target: x86_64-apple-darwin
            binary_name: braillify-darwin-x86_64
          - platform: macos-14
            os: macos
            target: aarch64-apple-darwin
            binary_name: braillify-darwin-arm64
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup Rust
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          toolchain: stable
          target: ${{ matrix.target }}
          components: clippy, rustfmt

      - name: Build Rust binary
        run: cargo build --release --target ${{ matrix.target }} -p braillify
      - name: Rename binary
        run: mv target/${{ matrix.target }}/release/braillify${{ matrix.os == 'windows' && '.exe' || '' }} ${{ matrix.binary_name }}
      
      - name: Upload Asset
        uses: owjs3901/upload-github-release-asset@main
        with:
          upload_url: ${{ fromJson(needs.changepacks.outputs.release_assets_urls)['libs/braillify/Cargo.toml'] }}
          asset_path: ${{ matrix.binary_name }}

  cargo-publish:
    name: Cargo Publish
    runs-on: ubuntu-latest
    if: ${{ contains(needs.changepacks.outputs.changepacks, 'libs/braillify') }}
    needs:
      - changepacks
    steps:
      - uses: actions/checkout@v5
      - name: Publish to Cargo
        run: cargo publish -p braillify
        env:
          CARGO_REGISTRY_TOKEN: ${{ secrets.CARGO_REGISTRY_TOKEN }}

  winget-publish:
    name: Winget Publish
    runs-on: windows-2022
    if: ${{ contains(needs.changepacks.outputs.changepacks, 'libs/braillify/Cargo.toml') }}
    needs:
      - changepacks
    steps:
      - uses: actions/checkout@v5
      - name: Setup Rust
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          toolchain: stable
          target: x86_64-pc-windows-msvc
          components: clippy, rustfmt

      - name: Build Rust binary
        run: cargo build --release --target x86_64-pc-windows-msvc -p braillify
      - name: Extract version
        run: |
          echo "version=$(cargo pkgid -p braillify | sed -E 's/.*#([0-9]+\.[0-9]+\.[0-9]+).*/\1/')" >> $GITHUB_OUTPUT
        id: version
      - uses: vedantmgoyal9/winget-releaser@main
        with:
          identifier: Braillify.Braillify
          installers-regex: '\.exe$' # Only .exe files
          token: ${{ secrets.WINGET_TOKEN }}
          version: ${{ steps.version.outputs.version }}

